.social-registration {
	display:block;
	clear: both;
	width: auto;
	margin: 5px 0;
}

.errorSummary {
	color:red;
}

.reg-header {
	border-bottom: 1px solid #eeeeee;
}

.reg-header h2 {
	margin-top: -10px;
	display:inline-block;
}

.reg-sign-in {
	display:inline-block;
	float: right;
}

.reg-sign-in a {
	vertical-align: middle;
}

.confirm-note {
	font-size: 15px;
	font-family: Lucida Grande, Arial, Helvetica, Verdana, sans-serif;
}

.bold-text {
	font-weight:bold;
	font-color:#72b0e0;
}

.services-bs {
	width: 252px;
}

.resend-wrapper {
	max-width:500px;
	min-width: auto;
}

.resend-button {
	float: left;
}

.dialogWrapper {
	padding: 0px;
	float: right;
	width: 200px;
	height: 27px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.menu-avatar {
    margin-top: -10px;
}

/* REGISTRATION */

.row > p {
	color: #777777;
	font-size: 10px;
	font-style: italic;
}

.th-avatar-from {
	width: 500px;
	display: block;
	margin-top: 20px;
}

.upload-button, .avatar-send {
	display: inline-block;
}

/* USER_PROFILE */

.profile-header {
	max-width: 400px;
	overflow: hidden;
}

.user-avatar-wrapper {
	display: inline-block;
	float: left;
}

.user-data {
	display: inline-block;
	float: right;
}

.change-avatar-wrapper, .src-avatar {
	display: inline-block;
}