/*LOGIN PAGE*/
.sign-in-question, .sign-in-question:hover, .sign-in-question:link, .sign-in-question:active, .sign-in-question:visited, .pass-restore, .pass-restore:hover, .pass-restore:link, .pass-restore:active, .pass-restore:visited {
	text-decoration: none;
}

.sign-in-question:hover, .pass-restore:hover {
	color: #27384C;
}

/*TEST PROCESS*/
.questions-list-wrapper {
	margin-top: 15px;
}

.question-anchor, .test-question-counter {
	width: 30px;
	font-size: 13px;
	padding: 5px 0;
	border: 1px solid rgba(0, 0, 0, .2);
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
	color: rgba(0, 0, 0, .7) !important;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 10px;
	background: #fff;
}

.test-question-counter {
	width: 60px;
	margin-left: 0px;
	border: 1px solid rgba(0, 0, 0, .2);
}

.question-anchor, .question-anchor:hover, .question-anchor:link {
	text-decoration: none;
}

.answer-buttons-container {
	margin-top: 20px;
}

.skip-question {
	margin-left: 20px;
}

h3.test-process-header {
	float: left;
}

.test-countdown-clock {
	float: right;
}

div.question-anchors {
	clear: both;
}

.question-anchor:hover, .test-question-counter:hover {
	border: 1px solid rgba(0, 0, 0, .6);
}

div.answer-question-form {
	width: 100%;
}

div.answer-question-form label,.question-alert p {
	font-weight: normal !important;
}

.question-text,div.question-number {
	margin-top: 15px;
}

.question-text p,.question-alert p {
	font-size: 15px !important;
}

.question-choices input {
	display: none;
}

.answer-question-form>.yiiLog {
	display: none !important;
}

.first-header {
	font-weight: 700;
	padding-left: 5px;
}

.question-choices label {
	color: #666;
	cursor: pointer;
	font-size: 15px !important;
	padding: 10px 0 10px 0px;
}

.question-choices label:hover {
	color: inherit;
}

.answer-radio-button {
	/*display:none;*/
	
}

.test-result-info p {
	font-size: 15px;
}

.option-number {
	background: #F7F7F7;
	background: -webkit-gradient(linear, top, bottom, color-stop(0%, #fff),
		color-stop(100%, #EFEFEF));
	background: -moz-linear-gradient(top, #fff, #EFEFEF);
	background: -webkit-linear-gradient(top, #fff, #EFEFEF);
	background: -o-linear-gradient(top, #fff, #EFEFEF);
	background: linear-gradient(top, #fff, #EFEFEF);
	border-color: #A0A0A0;
	cursor: pointer;
	border: 1px solid #DDDCDA;
	display: inline-block;
	text-align: center;
	width: 28px;
	height: 28px;
	line-height: 28px;
	margin-right: 5px;
	left: 0;
	top: 50%;
	margin-top: -15px;
	color: #000;
	font-weight: 700;
}

.question-choices input[type="checkbox"]:checked+span,input[type="radio"]:checked+span
	{
	background: #FFA26A;
	background: -webkit-gradient(linear, top, bottom, color-stop(0%, #FFA26A),
		color-stop(100%, #FFA26A));
	background: -moz-linear-gradient(top, #FFA26A, #FFA26A);
	background: -webkit-linear-gradient(top, #FFA26A, #FFA26A);
	background: -o-linear-gradient(top, #FFA26A, #FFA26A);
	background: linear-gradient(top, #FFA26A, #FFA26A);
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .45) inset;
}

/*ERROR PAGE*/
.contact-admin {
	margin-top: 50px;
	font-size: 14px;
	font-style: italic;
}

.social-registration {
	display: block;
	clear: both;
	width: auto;
	margin: 5px 0;
}

.reg-header,.test-header,.first-header {
	border-bottom: 1px solid #eeeeee;
}

.reg-header h2,.test-header h2 {
	margin-top: -10px;
	display: inline-block;
}

.reg-sign-in {
	display: inline-block;
	float: right;
}

.reg-sign-in a {
	vertical-align: middle;
}

.confirm-note {
	font-size: 15px;
	font-family: Lucida Grande, Arial, Helvetica, Verdana, sans-serif;
}

.bold-text {
	font-weight: bold;
	font-color: #72b0e0;
}

.services-bs {
	width: 252px;
}

.resend-wrapper {
	max-width: 500px;
	min-width: auto;
}

.resend-button {
	float: left;
}

.dialogWrapper,.qeustions-empty-error {
	padding: 0px;
	float: right;
	width: 200px;
	height: 27px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

/* REGISTRATION */
.register-fields-wrapper {
	border: 5px solid #15B1B2;
	padding: 10px 20px 10px 10px;
	border-radius: 6px;
}

.row em {
	color: #777;
	display: block;
	font-size: 11px;
}

div.th-register-from em,div.th-register-from .errorMessage {
	line-height: 14px;
	padding: 6px 0;
	width: 250px;
}

div.th-register-from div.error input,#login-form div.error input {
	background: #fff;
	border-color: #B20000;
}

#recaptcha_widget_div {
	display: inline-block;
}

div.captcha-row .field-label {
	vertical-align: top;
}

div.th-register-from div.error label:first-child {
	color: #333;
}

.th-avatar-from {
	width: 500px;
	display: block;
	margin-top: 20px;
}

.upload-button,.avatar-send {
	display: inline-block;
}

div.th-register-from input[type="text"],div.th-register-from input[type="password"],div.th-register-from input[type="email"]
	{
	margin: 1em 0 0.5em 0;
	width: 250px;
}

div.th-register-from {
	margin: 25px 0;
}

div.th-register-from .captcha-row,.form-note {
	margin: 20px 0;
}

div.th-register-from label,.field-label {
	display: inline-block;
}

.field-label {
	width: 147px;
	text-align: left;
	margin-right: 20px;
}

.th-submit-button,.create-test-button,.login-button,.start-test-button,.submit-answer-button,.skip-question,.end-test-button, .my-tests-button, .general-button
	{
	background: #ff9251;
	border: 1px solid transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9251
		), color-stop(1, #ff9251));
	background: -moz-linear-gradient(center top, #ff9251 5%, #ff9251 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#829db2',
		endColorstr='#ff9251');
	background-color: #ff9251;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #829db2;
	display: inline-block;
	color: #ffffff;
	font-family: Georgia, Arial, Helvetica, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	font-style: normal;
	height: 41px;
	line-height: 41px;
	width: 153px;
	text-decoration: none;
	text-align: center;
}

.th-submit-button:hover,.login-button:hover,.start-test-button:hover,.submit-answer-button:hover,.skip-question:hover,.end-test-button:hover, .my-tests-button:hover, .general-button:hover
	{
	background: #E58349;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #E58349
		), color-stop(1, #E58349));
	background: -moz-linear-gradient(center top, #E58349 5%, #E58349 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E58349',
		endColorstr='#E58349');
	background-color: #E58349;
}

.th-submit-button:active,.login-button:active,.start-test-button:active,.submit-answer-button:active,.skip-question:active,.end-test-button:active, .my-tests-button:active, .general-button:active
	{
	position: relative;
	top: 1px;
}

.skip-question, .my-tests-button, .delete-test-view {
	background: #15B1B2;
	border: 1px solid transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #15B1B2
		), color-stop(1, #15B1B2));
	background: -moz-linear-gradient(center top, #15B1B2 5%, #15B1B2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15B1B2',
		endColorstr='#15B1B2');
	background-color: #15B1B2;
}

.skip-question:hover, .my-tests-button:hover, .delete-test-view:hover {
	background: #0D7272;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0D7272
		), color-stop(1, #0D7272));
	background: -moz-linear-gradient(center top, #0D7272 5%, #0D7272 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0D7272',
		endColorstr='#0D7272');
	background-color: #0D7272;
}

.submit-answer-button,.skip-question,.end-test-button {
	line-height: 26px;
	height: 30px;
	width: 100px;
}

.login-button {
	width: 100px;
	height: 40px;
}

.th-submit-button,.create-test-button,.login-button,.delete-question-button,.start-test-button,.submit-answer-button,.skip-question,.end-test-button, .my-tests-button
	{
	outline: none;
}

/* USER_PROFILE */
.profile-header {
	max-width: 550px;
	overflow: hidden;
}

.th-navbar-nav>li>.menu-avatar {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.th-navbar-default .th-navbar-nav>.active>.menu-avatar,.th-navbar-default .th-navbar-nav>.active>.menu-avatar:hover,.th-navbar-default .th-navbar-nav>.active>.menu-avatar:focus
	{
	color: #555;
	background-color: transparent;
}

.user-avatar-wrapper {
	display: inline-block;
	float: left;
}

.user-data {
	display: inline-block;
	float: right;
}

.src-avatar {
	display: inline-block;
}

/* TEST */
.answer-option-bar,.answer-option-bar li {
	display: inline-block;
	vertical-align: top;
}

.answer-option-bar {
	list-style: none !important;
	margin: 0 !important;
	padding: 11px 0 0 0 !important;
}

.answer-option-bar li,.delete-question-button,.addAnswerOption {
	color: #405565;
}

.answer-option-bar li {
	padding: 0 0 0 5px !important;
	cursor: pointer;
}

.question-counter a {
	text-decoration: none;
	color: #fff;
}

.test-questions-anchors {
	cursor: pointer;
}

.test-questions-anchors div {
	outline-color: transparent;
}

.test-questions-anchors span {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 200;
}

.test-questions-anchors,.test-questions-anchors span,.questions-list-wrapper
	{
	padding-left: 5px;
}

.questions-list-wrapper {
	padding-left: 15px;;
}

.test-questions-anchors ul {
	margin: 0;
	padding: 0;
}

.question-chunks-wrapper {
	float: left;
	width: 10em;
	padding-top: 10px;
}

.test-questions-anchors li {
	list-style: none !important;
}

.test-questions-anchors li a {
	text-decoration: none;
	font-size: 16px;
}

.test-questions-anchors li a:hover {
	text-decoration: none;
	color: #405565;
}

.delete-question-button {
	/*background: url(delete-field.png) right no-repeat;*/
	cursor: pointer;
	border: none;
	width: 25px;
}

.show-math-button {
	font-size: 1.4em;
}

.deleteAnswerOption {
	font-size: 1.5em;
	/*margin: 0.6em 0 0 0.2em;*/
}

.delete-question-button:hover i:before,.addAnswerOption:hover i:before,.answer-option-bar:hover i:before
	{
	/*background-color: #eee;*/
	color: #30404B;
}

.add-question-button:hover {
	color: #eee;
}

.addAnswerOption {
	display: inline-block;
}

#login-form input[type="email"],#login-form input[type="password"],div.th-test-from input[type="text"],div.th-register-from input[type="password"],div.th-register-from input[type="email"],div.th-register-from input[type="text"],div.th-test-from textarea.questionField,.question-answer input[type="text"],.question-answer input[type="number"]
	{
	margin: 1em 0 0.5em 0;
	width: 26%;
	min-width: 150px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px 6px;
}

.question-answer input[type="text"],.question-answer input[type="number"] {
	width: 20%;
}

#login-form input[type="email"],#login-form input[type="password"] {
	width: 100%;
}

div.th-register-from div.row {
	margin: 1em 0 0.5em 0;
}

div.th-register-from div.field-label {
	vertical-align: top;
}

.form-field-container {
	width: 50%;
}

div.th-register-from input[type="text"],div.th-register-from input[type="password"],div.th-register-from input[type="email"]
	{
	width: 70%;
	margin: 0;
}

.form-field-container {
	display: inline-block;
}

.options-preview-container {
	background-color: #fff;
	word-wrap: break-word;
	clear: both;
	padding: 3px;
	border: 2px dotted #ccc;
	line-height: 130%;
	font-size: 15px;
	max-width: 500px;
}

.redactor-box {
	border: 1px solid #ccc;
}

div.th-test-from input.test-name-field {
	width: 36%;
	min-width: 200px;
}

.th-test-from,.th-register-from {
	max-width: 100%;
	width: auto;
}

.question-drop-list {
	display: block;
}

.delete-question-button,.question-counter {
	display: inline-block;
}

.question-counter,.create-question-header {
	font-size: 18px;
	font-family: inherit;
	font-weight: 500;
}

.answer-option-number {
	display: block;
}

.optionff,.question-drop-list {
	display: inline-block;
}

.create-question-header {
	margin-top: 25px;
	margin-bottom: 15px;
}

.qeustions-empty-error {
	width: auto;
	padding: 2px 10px 0px 10px;
}

.test-fields,.row-fluid {
	background-color: #F3F3F3;
	padding: 10px 20px 10px 10px;
	border-radius: 6px;
	border: 10px solid #829DB2;
	margin-top: 30px;
}

.row-fluid {
	/*background: #B1EED6;*/
	border: 10px solid #405565;
}

div.th-test-from label {
	font-weight: bold;
	font-size: 1em;
	display: block;
	color: #090C33;
	text-shadow: #fff 2px 0px 2px, #fff 0px 2px 2px, #fff 0px -2px 2px, #fff
		-2px 0px 1px;
}

.question-counter {
	background-color: #405565;
	padding: 5px 15px 5px 15px;
	font-weight: bold;
	color: #fff;
	border-radius: 3px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}

.delete-question-button {
	float: right;
}

.question-header {
	padding-bottom: 10px;
}

.test-create-wrapper,.question-creator {
	margin-top: 25px;
}

.addAnswerOption,.add-question-button {
	cursor: pointer;
}

.add-question-button {
	float: right;
	margin: 0.25em 0.25em 0 0;
	color: #fff;
}

div.form select.question-drop-list {
	margin: 1.4em 0 0 1em;
}

div.qeustions-empty-error {
	margin-top: 10px;
}

.qeustions-empty-error {
	margin-top: 10px;
}

.question-creator {
	border-radius: 6px;
	background-color: #405565;
	width: 100%;
	height: 60px;
}

.addAnswerOption {
	margin-top: 10px;
}

.create-test-button {
	background: #829db2;
	border: 1px solid transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #829db2
		), color-stop(1, #829db2));
	background: -moz-linear-gradient(center top, #829db2 5%, #829db2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#829db2',
		endColorstr='#829db2');
	background-color: #829db2;
	border: 1px solid #829db2;
	font-weight: bold;
	font-size: 1.14em;
}

.create-test-button:hover {
	background: #536572;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #536572
		), color-stop(1, #536572));
	background: -moz-linear-gradient(center top, #536572 5%, #536572 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#536572',
		endColorstr='#536572');
	background-color: #536572;
}

.create-test-button:active {
	background: #536572;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #536572
		), color-stop(1, #404E58));
	background: -moz-linear-gradient(center top, #404E58 5%, #404E58 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404E58',
		endColorstr='#404E58');
	background-color: #404E58;
}
/*
.add-question-button {
	width:130px;
	background: #FFFFE5;
	border: 1px solid transparent;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5F8EB1), color-stop(1, #5F8EB1) );
	background:-moz-linear-gradient( center top, #FFFFE5 5%, #FFFFE5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFE5', endColorstr='#FFFFE5');
	background-color:#FFFFE5;
	border:1px solid #FFFFE5;
	color:#fff;
	font-weight: bold;
	font-size: 0.9em;
}

.add-question-button:hover {
	background: #E5E5CE;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E5E5CE), color-stop(1, #E5E5CE) );
	background:-moz-linear-gradient( center top, #E5E5CE 5%, #E5E5CE 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E5CE', endColorstr='#E5E5CE');
	background-color:#E5E5CE;
}

.add-question-button:active {
	background: #BFBFAC;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #BFBFAC), color-stop(1, #BFBFAC) );
	background:-moz-linear-gradient( center top, #BFBFAC 5%, #BFBFAC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFBFAC', endColorstr='#BFBFAC');
	background-color:#BFBFAC;
}
*/
/* *********TEACHER TESTS VIEW************ */
.owner-delete-button img:hover,.owner-update-button img:hover,.owner-view-button img:hover,.start-test-icon img:hover
	{
	background-color: #95C898;
	border-radius: 2px;
}

/*
.owner-delete-button img:active, .owner-update-button img:active, .owner-view-button img:active, .start-test-button img:active {
	background-color: #E5B170;
}
*/

/* *********STUDENT TESTS VIEW************ */
.student-test-status-nav>li.active>a {
	color: #fff;
    background-color: #17BEBF;
}

.student-test-status-nav>li.active>a:hover {
	background-color: #14A5A5;
}

.test-view-info,.test-view-foreword {
	margin-top: 30px;
}

.test-view-paragraph {
	height: 30px;
	border-radius: 4px;
	font-weight: 400;
	margin-bottom: 15px;
	background-color: #15B1B2;
	color: #fff;
	text-shadow: #27384C 1px 0px 1px, #27384C 0px 1px 1px, #27384C 0px -1px
		1px, #27384C -1px 0px 1px;
}

.test-view-paragraph h3 {
	padding-left: 5px;
	line-height: 30px;
}

.start-test-button, .my-tests-button, .general-button {
	margin: 25px 0 0 2px;
}

.general-button, .general-button:hover, .general-button:active, .general-button:link, .general-button:visited, a.start-test-button:hover,a.start-test-button:visited,a.start-test-button:active,a.start-test-button:link,.skip-question:hover,.skip-question:active,.skip-question:visited,.skip-question:link, a.my-tests-button, a.my-tests-button:hover, a.my-tests-button:visited, a.my-tests-button:link, a.my-tests-button:active
	{
	text-decoration: none;
	color: #fff;
}

a.start-test-button:hover {
	color: #ccc;
}

/* IMPERAVI REDACTOR*/
#redactor-droparea-placeholder input[type=file],.imperavi-image {
	display: inline-block;
}

.foreword-preview,.foreword-buffer,.question-preview,.question-buffer {
	position: relative;
	overflow: auto;
	margin: 0 !important;
	padding: 20px;
	outline: none;
	white-space: normal;
	border: 1px solid #eee;
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 2.4em;
}