.pager li>a, .pager li>span {
	border: 0px;
}

.pager li>a:hover, .pager li>a:focus {
	background-color: #fab055;
}

.pager li>a, .pager li>span {
	border-radius: 0px;
	padding: 5px 6px;
}

ul.yiiPager .selected a {
    color: #ffc57d;
    font-weight: bold;
}

.disabled {
	background: red;
}


